[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = ">=2.0.0"
inflection = ">=0.3.1"
jsonpointer = ">=1.10"
python-dateutil = ">=2.6.0"
trafaret = {git = "https://github.com/Deepwalker/trafaret.git", editable = true, ref = "master"}


[dev-packages]

alabaster = "*"
coverage = "*"
cryptography = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"punch.py" = "*"
pytest = "*"
pyyaml = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
tox = "*"
twine = "*"
watchdog = "*"
pylint = "*"
mimesis = "*"
"pep8" = "*"
"autopep8" = "*"
mypy = "*"
tox-pyenv = "*"
aiopg = "*"
sqlalchemy = "*"
docker = "*"
invoke = "*"
attrs = "*"
jsonschema = "*"
aiohttp = "*"
pytest-aiohttp = "*"
"flake8-import-order" = "*"
