-e .
aiohttp==2.1.0
boltons==17.1.0
coverage==4.4.1
cryptography==1.9
flake8==3.3.0
inflection==0.3.1
jsonpointer==1.10
pip-tools==1.9.0
punch.py==1.4.0
pytest==3.1.2
python-dateutil==2.6.0
pyyaml==3.12
sphinx==1.6.2
tox==2.7.0
trafaret==0.10.2
wheel==0.29.0
